$width: 850px;

$transitions: background 0.35s, color 0.35s;

$text400: var(--text400, #eee);
$text300: var(--text300, #bbb);
$bg50Trans: var(--bg50Trans, transparentize(#111, 0.35));
$bg100: var(--bg100, #151515);
$bg200: var(--bg200, #1a1a1a);
$border: var(--border, #2a2a2a);
$green: var(--green, #3daa3e);

$button: var(--button, #2f2f2f);
$buttonHover: var(--button, lighten(#2f2f2f, 2.5%));
$buttonClick: var(--button, darken(#2f2f2f, 2.5%));

@mixin notMobile {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
