$width: 850px;

$transitions: background 0.35s, color 0.35s;

$brand: var(--text, #121e2b);
$text: var(--text, #eee);
$bg100: var(--bg, #151515);
$bg200: var(--bg, #1a1a1a);

@mixin notMobile {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
